{% extends "layouts/layout.html" %}

{% block title %}Not Found{% endblock %}

{% block head %}
<style></style>
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="fs-1 mt-5">OOOP's NOT FOUND</h1>
    <div class="m-2">
        the page you are looking for is not found.
    </div>
    <a href="/" class="btn btn-outline-primary">
        <div class="d-flex justify-content-between align-items-center">
            <span class="material-symbols-outlined">
                person_alert
            </span>
            <span>Go to Top Page</span>
        </div>
    </a>
</div>
{% endblock %}