{% extends "layouts/layout.html" %}

{% block title %}Detail{% endblock %}

{% block head %}
<style></style>
{% endblock %}

{% block content %}
<div class="p-3 mt-2 w-75 mx-auto bg-body-secondary rounded-2">
    <div class="mb-3">
        <h5 class="text-dark">Summary #{{task.id}}</h5>
        <div class="text-white p-2 border border-1 rounded-2 bg-dark">{{task.summary}}</div>
    </div>
    <div class="mb-3">
        <h5 class="text-dark">Description</h5>
        <p class="text-white p-2 border border-1 rounded-2 bg-dark"
           style="height: 200px;">
            {% match task.description %} {% when Some with (description) %}
            {{description}}
            {% when None %}
            No Description
            {% endmatch %}
        </p>
    </div>
    <div class="mb-3">
        <h5 class="text-dark">Status</h5>
        <span class="d-block text-info p-2 border border-1 rounded-2 bg-dark">
            {{task.status_name}}
        </span>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-grid gap-2 d-sm-block">
            <a href="/tasks"
               class="btn btn-outline-secondary px-4">
                <span class="material-symbols-outlined">
                    undo
                </span>
                <span class="ms-1">Back</span>
            </a>
            <a href="/tasks/{{task.id}}/edit"
               class="btn btn-primary ms-sm-4 px-4">
                <span class="material-symbols-outlined">
                    edit
                </span>
                <span class="ms-1">Edit</span>
            </a>
        </div>

        <button class="btn btn-danger"
                data-bs-toggle="modal"
                data-bs-target="#delete-task">
            <span class="material-symbols-outlined">
                delete
            </span>
            <span class="ms-1">DELETE</span>
        </button>

        <!-- Confirm Delete Dialog [START] -->
        <div class="modal fade"
             id="delete-task"
             tabindex="-1"
             aria-labelledby="delete-task-label"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5"
                            id="delete-task-label">Confirm to Delete the Task</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-danger">
                        Are you sure to delete this task: {{task.summary}}
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-secondary"
                                data-bs-dismiss="modal">Cancel</button>
                        <form action="/tasks/{{task.id}}/delete"
                              method="POST">
                            <button type="submit"
                                    class="btn btn-danger">DELETE!</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Confirm Delete Dialog [END] -->
    </div>
</div>
</div>
{% endblock %}